<div class="container mt-4">
  <% if policy(Collection).create? %>
    <%= link_to t('collections.add'), new_collection_path, class: 'btn btn-primary right' %>
  <% end %>
  <br/>
  <% @collections.each.with_index do |collection, i| %>
    <%= link_to collection do %>
      <div class="collection mt-2">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <h2 class="card-title">
            <%= collection.title %>
            <span class="badge badge-pill badge-info">
              <%= collection.restored_objects.count %> <%= t('collections.restored_objects') %>
            </span>
          </h2>
            <p><%= collection.description.html_safe %></p>
            <p class="owner"><%= link_to collection.user.name, collection.user %></p>
          </div>
          <div class="col-xs-12 col-md-6 center">
            <%= image_tag(collection.featured_image) %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>