<div class="profile-header">
  <%= image_tag @collection.user.header_image, class: 'profile-header-img' %>
</div>
<div class="container">
  <% if policy(@collection).update? %>
    <%= link_to t('shared.update'), edit_collection_path(@collection), class: 'btn btn-primary right' %>
  <% end %>
  <% if policy(@collection).destroy? %>
    <%= link_to t('shared.destroy'), collection_path(@collection), method: :delete, class: 'btn btn-danger right mr-2' %>
  <% end %>
  <%= image_tag @collection.user.avatar_image, class: 'avatar' %>
  <h1 style="display: inline"><%= @collection.title %></h1>
  <br/><br/>
  <p><%= link_to @collection.user.name, @collection.user %></p>
  <br/><br/>
  <p><%= @collection.description %></p>
  <br/><br/><br/>
  <div class="card-columns">
      <% @objects.each do |obj| %>
        <%= link_to obj do %>
          <div class="card">
            <%= link_to image_tag(obj.featured_image, class:'card-img-top'), obj %>
            <div class="card-body">
                <span class="badge badge-pill badge-info float-right"><%= obj.pieces.count %> <%= t('restored_object.pieces') %></span>
                <h2><%= link_to obj.title, obj, data: { no_turbolink: true } %></h2>
                <p><%= truncate(obj.description, length: 150, omission: "...") %>
            </div>
            <div class="card-footer">
                <%= time_ago_in_words obj.created_at %><br/>
                <% obj.categories.each do |cat| %>
                    <%= link_to cat do %>
                        <span class="badge badge-pill badge-secondary"><%= cat.name %></span>
                    <% end %>
                <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
  <br/><br/>
  <%= paginate @objects, theme: 'twitter-bootstrap-4' %>
</div>