
<div class="profile-header">
  <%= image_tag @user.header_image, class: 'profile-header-img' %>
</div>
<div class="container">
  <% if policy(RestoredObject).create? %>
      <%= link_to t('restored_object.add_object'), new_restored_object_path, class: 'btn btn-primary right' %>
    <% end %>
    <% if current_user&.id == @user.id  %>
      <%= link_to t('users.edit_settings'), edit_user_registration_path, class: 'btn btn-primary right mr-4' %>
    <% end %>
  <div class="user-header">
    <h2 style="display: inline">
      <%= image_tag @user.avatar_image, class: 'avatar' %>
      <%= @user.name %>
    </h2>
  </div>
  <br/>
  <% if !(@user.bio.blank?) %>
    <div class="row container mb-4">
      <p><%= @user.bio.html_safe %></p>
    </div>
  <% end %>
</div>
<section class="blue">
  <div class="container">
    <div class="card-columns">
      <% @user.collections.each_with_index do |obj, index| %>
        <div class="card">
          <div class="card-body">
              <span class="badge badge-pill badge-info float-right"><%= obj.restored_objects.count %> <%= t('restored_object.pieces') %></span>
              <h2><%= link_to obj.title.capitalize, obj, data: { no_turbolink: true } %></h2>
              <p><%= truncate(obj.description, length: 150, omission: "...").capitalize %></p>
              <%= link_to obj.user.name, obj.user %><br/>
              <%= time_ago_in_words obj.created_at %><br>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<div class="container">
  <div class="card-columns">
    <% @user.restored_objects.where(current_step:'active').each_with_index do |obj, index| %>
      <div class="card">
        <%= link_to image_tag(obj.featured_image, class:'card-img-top'), obj %>
          <div class="card-body">
              <span class="badge badge-pill badge-info float-right"><%= obj.pieces.count %> <%= t('restored_object.pieces') %></span>
              <% obj.categories.each do |cat| %>
                <%= link_to cat do %>
                    <span class="badge badge-pill badge-secondary"><%= cat.name.capitalize %></span>
                <% end %>
              <% end %>
              <h2><%= link_to obj.title.capitalize, obj, data: { no_turbolink: true } %></h2>
              <p><%= truncate(obj.description, length: 150, omission: "...").capitalize %></p>
              <%= time_ago_in_words obj.created_at %><br>
          </div>
          <% if isObjectFromUser(obj) %>
            <div class="card-footer right">
               <%= link_to edit_restored_object_path, class:'btn btn-primary mr-2' do %>
                  <img src="/edit.svg" style="width: 1em;" />
                <% end %>
                <%= link_to obj , data: {:confirm => 'Are you sure?'}, method: :delete, class:'btn btn-danger' do %>
                  <img src="/trash.svg" style="width: 1em;"/>
                <% end %>
                <br/><br/>
            </div>
          <% end %>
      </div>
    <% end %>
  </div>
</div>