<div class="container">
  <h1>Hello</h1>
  <h2><%= @user.email %></h2>
  <div class="masonry">
    <% user_objects = @user.restored_objects; frame = true; %>
    <% user_objects.each_with_index do |object, index| %>
      <% if ((getRandomPosition(index)) & frame) %>
        <div class="masonry-item masonry-widht-100 color masonry-heigh-2">
          <%= object.title %></br>
          <%= object.description %></br>
          <%= link_to object, class:'btn color_buttons_editor text-white ' do %>

          <% end %>
        </div>
        <% frame = true %>
      <% else %>
        <div class="masonry-item masonry-widht-50 color masonry-heigh-10">
          <%= object.title %></br>
          <%= object.description %></br>
          <%= link_to object, class:'btn color_buttons_editor text-white ' do %>

          <% end %>
        </div>
        <% frame = !frame %>
      <% end %>
    <% end %>
  </div>
</div>