<div class="container">
  <h1>Hello</h1>
  <h2><%= @user.email %></h2>
  <div class="masonry">
    <% user_objects = @user.restored_objects; frame = true; %>
    <% user_objects.each_with_index do |object, index| %>
      <% if ((getRandomPosition(index)) & frame) %>
        <div class="masonry-item masonry-widht-100 color masonry-heigh-2 card">
          <div class="card-top-image">
            <img class="card-img-top" src="..." alt="Card image cap">
          </div>
          <div>
            <h5><%= object.title %></h5>
          </div>
          <div>
            <p><%= object.description %></p>
          </div>
          <div>
            <%= link_to object, class:'btn btn-siz color_buttons_editor text-white' do %>
              Go
            <% end %>
            <%= link_to object , data: {:confirm => 'Are you sure?'}, :method => :delete, class:'btn btn-siz color_buttons_editor text-white' do %>
              Delete
            <% end %>
          </div>
        </div>
        <% frame = true %>
      <% else %>
        <div class="masonry-item masonry-widht-50 color masonry-heigh-10">
          <div class="card-top-image">
            <img class="card-img-top" src="..." alt="Card image cap">
          </div>
          <div>
            <h5><%= object.title %></h5>
          </div>
          <div>
            <p><%= object.description %></p>
          </div>
          <div>
            <%= link_to object, class:'btn btn-siz color_buttons_editor text-white' do %>
              Go
            <% end %>
            <%= link_to object , data: {:confirm => 'Are you sure?'}, method: :delete, class:'btn btn-siz color_buttons_editor text-white' do %>
              Delete
            <% end %>
          </div>
        </div>
        <% frame = !frame %>
      <% end %>
    <% end %>
  </div>
</div>