<header class="container home-header centred-objects">
  <h1><img src="/logo.svg" alt="FragmentX" id="logo"></h1>
  <h2><%= t('categories.description') %></h2>
</header>
<section class="diagonal">
  <div class="container row d-flex align-items-center" style="margin: 0 auto">
    <div class="col-xs-12 col-lg-8">
      <%= t('home.intro').html_safe %>
    </div>
    <div class="col-xs-12 col-lg-4" id="visor">
  </div>
  </div>
</section>

<section class="main-section">
  <div class="container">
    <%= t('home.museums').html_safe %>
  </div>
</section>

<section id="features">
  <div class="container row" style="margin: 0 auto">
    <div class="col-xs-12 col-md-4 center">
      <img class="clip clip1 mb-4" src="/discover.svg" />
      <h2><%= t('home.discover') %></h2>
      <p><%= t('home.discover_info') %></p>
    </div>
    <div class="col-xs-12 col-md-4 center">
      <img class="clip clip2 mb-4" src="/learn.svg" />
      <h2><%= t('home.learn') %></h2>
      <p><%= t('home.learn_info') %></p>
    </div>
    <div class="col-xs-12 col-md-4 center">
      <img class="clip clip3 mb-4" src="/measure.svg" />
      <h2><%= t('home.inspect') %></h2>
      <p><%= t('home.inspect_info') %></p>
    </div>
  </div>
</section>

<section id="featured">
  <div class="container">
    <h2 class="fancy-title"><%= t('home.featured') %></h2>
    <p><%= t('home.featured_info') %></p>
    <div class="card-columns">
      <% @featured.each do |obj| %>
        <div class="card">
          <%= image_tag(obj.featured_image, class:'card-img-top') %>
          <div class="card-body">
              <span class="badge badge-pill badge-info float-right"><%= obj.pieces.count %> <%= t('restored_object.pieces') %></span>
              <h2><%= link_to obj.title, obj, data: { no_turbolink: true } %></h2>
              <p><%= truncate(obj.description, length: 150, omission: "...") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<script type="text/javascript" src="/js/three.min.js"></script>
<script>
var $container = $('#visor');
var renderer = new THREE.WebGLRenderer({antialias: true, alpha: true });
var camera = new THREE.PerspectiveCamera(80,1,0.1,10000);
var scene = new THREE.Scene();

scene.add(camera);
renderer.setSize(400, 400);
$container.append(renderer.domElement);

camera.position.z = 170;

var material = new THREE.MeshBasicMaterial({wireframe: true, wireframeLinewidth: 2});


var Ico = new THREE.Mesh(new THREE.IcosahedronGeometry(75,1), material);
Ico.rotation.z = 0.5;
scene.add(Ico);

function update(){
  Ico.rotation.x+=0.002;
  Ico.rotation.y+=0.002;
}

function render() {
  requestAnimationFrame(render);
  renderer.render(scene, camera);
  update();
}
document.addEventListener("turbolinks:load", function() {
  render();
});
</script>