<div class="container">
<h1><%= t('restored_object.edit') %></h1>

<%= form_for(@object, :html => { multipart: true }) do |f| %>

    <% if @object.errors.any? %>
        <div class="alert alert-danger">
            <ul>
            <% @object.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <%= f.label :title %><br/>
            <%= f.text_field :title, class: 'form-control' %>
            <br/>
            <%= f.label :author %><br/>
            <%= f.text_field :author, class: 'form-control' %>
            <br/>
            <%= f.label :epoch %><br/>
            <%= f.text_field :epoch, class: 'form-control' %>
            <br/>
            <div class="card">
                <div class="card-body">
                    <%= f.label :dimensions %><br/>
                    <p><%= t('restored_object.viewer.measure_details') %></p>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <%= f.label :width %><br/>
                            <%= f.number_field :width, required: true, class: 'form-control' %>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <%= f.label :height %><br/>
                            <%= f.number_field :height, required: true, class: 'form-control' %>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <%= f.label :depth %><br/>
                            <%= f.number_field :depth, required: true, class: 'form-control' %>
                        </div>
                    </div>
                    <br/>
                    <%= f.select :units_id, Units.all.collect {|u| [u.name, u.id]}, {}, {class: 'form-control'} %>
                </div>
            </div>
            <br/>
            <%= f.label :description %><br/>
            <%= f.text_area :description, class: 'form-control' %>
            <br/>
            <%= f.label :classification %><br/>
            <%= f.text_area :classification, class: 'form-control' %>
            <br/>
            <%= f.label :technique %><br/>
            <%= f.text_area :technique, class: 'form-control' %>
            <br/>
            <%= f.label :decoration %><br/>
            <%= f.text_area :decoration, class: 'form-control' %>
            <br/>
            <%= f.label :notes %><br/>
            <%= f.text_area :notes, class: 'form-control' %>
        </div>
        <div class="col-sm-12 col-md-6">
            <%= f.label :owner %><br/>
            <%= f.text_field :owner, class: 'form-control' %>
            <br/>
            <%= f.label :deposit %><br/>
            <%= f.text_field :deposit, class: 'form-control' %>
            <br/>
            <%= f.label :address %><br/>
            <%= f.text_field :address, class: 'form-control' %>
            <br/>
            <%= f.label :inventory_no %>
            <%= f.text_field :inventory_no, class:'form-control' %>
            <br/>
            <%= f.label :priority %><br/>
            <%= f.select :priority_id, Priority.all.collect {|p| [p.name, p.id]}, {}, class: 'form-control' %>
            <br/>
            <%= f.label :state %><br/>
            <%= f.select :state_id, State.all.collect {|s| [s.name, s.id]}, {}, class: 'form-control' %>
            <br/>
            <%= f.label :protection %><br/>
            <%= f.select :protection_id, Protection.all.collect {|p| [p.name, p.id]}, {}, class: 'form-control' %>
            <br/>
            <%= f.label :categories %><br />
            <div class="row">
                <% Category.all.each do |category| %>
                <div class="col-sm-12 col-md-6">
                    <%= check_box_tag "restored_object[category_ids][]", category.id, f.object.categories.include?(category) %>
                    <%= category.name %><br/>
                </div>
                <% end %>
            </div>
            <br/>
            <%= f.label :materials %><br />
            <div class="row">
                <% Material.all.each do |material| %>
                <div class="col-sm-12 col-md-6">
                    <%= check_box_tag "restored_object[material_ids][]", material.id, f.object.materials.include?(material) %>
                    <%= material.name %><br/>
                </div>
                <% end %>
            </div>
            <br/>
            <%= f.label :deteriorations %><br />
            <div class="row">
                <% Deterioration.all.each do |deterioration| %>
                <div class="col-sm-12 col-md-6">
                    <%= check_box_tag "restored_object[deterioration_ids][]", deterioration.id, f.object.deteriorations.include?(deterioration) %>
                    <%= deterioration.name %><br/>
                </div>
                <% end %>
            </div>
        </div>
    </div>
    <br/>
     <div class="form-group">
        <%= f.label :avatar %>
        <div class="col-sm-6">
            <%= f.file_field :avatar %>
        </div>
    </div>
    <br/>
    <div id="pieces field" class="mt-4">
        <h2><%= t('restored_object.pieces')%></h2>
        <div class="alert alert-info">
            <p><%= t('restored_object.viewer.matrix_details') %></p>
        </div>
        <div class="card-columns">
        <%= f.fields_for :pieces do |h| %>
            <div class="card">
              <div class="field card-body">
                <h3><%= h.object.name %></h3>
                <%= h.label :description %><br/>
                <%= h.text_area :description, class: 'form-control' %>
                <br/>
                <%= h.check_box :missing %>
                <%= h.label :missing %>
                <br/>
                <%= h.label :matrix %>
                <%= h.text_area :matrix, class: 'form-control' %>
                <br/>
              </div>
              <div class="card-footer">
                <%= h.object.model.blob.filename %>
              </div>
            </div>
        <% end %>
        </div>
    </div>
    <br/>
    <%= f.submit t('restored_object.save'), class:'btn btn-primary', onclick: "$('#loader').show(); $('#overlay').show()" %>
<% end %>
<br/>
</div>