<h1>Añadiendo un nuevo objeto</h1>

<%= form_for(@object, :html => { multipart: true }) do |f| %>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
    <br/>
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
    <br/>
    <div id="pieces field">
        <h2>Piezas</h2>
        <div class="links">
          <%= link_to_add_association f, :pieces do %>Añadir Pieza<% end %>
        </div>
    </div>
    <%= f.submit :Guardar %>
<% end %>
