<div class="container">
<h1><%= t('restored_object.add_object') %></h1>

<%= form_for(@object, :html => { multipart: true }) do |f| %>
    <%= render "#{@object.current_step}_step", :f => f %>
    <p><%= f.submit "Continue" %></p>
    <p><%= f.submit "Back", :name => "previous_button" unless @object.first_step? %></p>

<% end %>
<br/>
</div>