<% if !cookies[:knows_controls] %>
  <% cookies[:knows_controls] = "yes" %>
  <div class="banner">
    <%= t('restored_object.viewer.banner_info') %>
  </div>
<% end %>
<%= form_for(@object) do |f| %>
  <div id="info-toggle" class="pointer" onclick="showInfo()">
    <i class="fas fa-info fa-2x"></i>
  </div>
  <section id="info-container">
    <div class="branding padding-toolbar">
      <i class="fas fa-times right" onclick="hideInfo()"></i>
      <p>
        <% @object.categories.each do |category| %>
          <span class="badge badge-pill badge-light"><%= category.name %></span>
        <% end %>
      </p>
      <h1><%= @object.title %></h1>
      <% if @object.author %>
        <h2><%= t('restored_object.viewer.by') %> <%= @object.author %></h2>
      <% end %>
      <h3>
        <% @object.materials.each do |material| %>
          <span class="badge badge-pill badge-light"><%= material.name %></span>
        <% end %>
      </h3>
      <small>
          <% if @object.in_inventory %>
              <%= @object.inventory_no %>
          <% else %>
              <%= t('restored_object.viewer.not_inventory') %>
          <% end %>
      </small>
    </div>
    <div class="toolbar-container padding-toolbar">
      <div class="row">
          <div class="col-sm-6">
              <div class="info-field">
                  <% if @object.state %>
                      <%= f.label :state %><br/>
                      <%= @object.state.name%>
                  <% end %>
              </div>
              <div class="info-field">
                  <%= f.label :priority %><br/>
                  <%= @object.priority.name %>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="info-field">
                  <%= f.label :protection %><br/>
                  <%= @object.protection.name %><br/>
              </div>
              <div class="info-field">
                  <%= f.label :dimensions %>
                  <p><%= dimensions(@object) %></p>
              </div>
          </div>
      </div>
      <% if @object.deteriorations %>
          <%= f.label :deteriorations %>
          <div class="info-field">
              <% @object.deteriorations.each do |deterioration| %>
                  <%= deterioration.name %><br/>
              <% end %>
          </div>
      <% end %>
      <div class="info-field">
        <%= f.label :description %>
        <p><%= @object.description %></p>
      </div>
      <div class="info-field">
        <%= f.label :epoch %>
        <p><%= @object.epoch %></p>
      </div>
      <div class="info-field">
        <%= f.label :classification %>
        <p><%= @object.classification %></p>
      </div>
      <div class="info-field">
        <%= f.label :technique %>
        <p><%= @object.classification %></p>
      </div>
      <div class="info-field">
        <%= f.label :decoration %>
        <p><%= @object.classification %></p>
      </div>
      <div class="info-field">
        <%= f.label :owner %>
        <p><%= @object.owner %></p>
      </div>
      <div class="info-field">
        <%= f.label :deposit %>
        <p><%= @object.deposit %></p>
        <p><%= @object.address %></p>
        <p><%= @object.location %></p>
        <% if @object.latitude && @object.longitude %>
          <p><%= "(#{@object.longitude}, #{@object.longitude})" %></p>
          <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@object.latitude},#{@object.longitude}&markers=#{@object.latitude},#{@object.longitude}&zoom=13&size=640x400&key=AIzaSyA5_37fS8M4baOAP7w8fiXCn-VA4FcgBSw", alt: "#{@object.address} on the map", class:'gmap' %>
        <% end %>
        <br/>
      </div>
      <div class="info-field">
        <%= f.label :notes %>
        <p><%= @object.notes %></p>
      </div>
    </div>
  </section>
<% end %>

<div id="mini-branding" onclick="showToolbar()">
  <div class="branding mini-brand no-padding">
    <h1><i class="fas fa-bars"></i> FragmentX</h1>
  </div>
  <div id="mini-menu" class="no-padding">
    <%= link_to t('restored_object.viewer.back_to_gallery') , restored_objects_path %>
  </div>
</div>
<div id="measure">
    <div class="container">
    <div class="row">
        <div class="col-sm measure-column">
          <p class="measure-paragraph"><%= t('restored_object.viewer.points') %></p>
          <p id="measurePo" class="measure-font">0</p>
        </div>
        <div class="col-sm measure-column">
          <p class="measure-paragraph"><%= t('restored_object.viewer.measure') %></p>
          <p id="measureNo" class="measure-font">0</p>
        </div>
        <div class="col-sm measure-column">
          <button onclick="deleteLastMesure()" class="btn btn-primary measure-button"><img class="measure-image" src="/icons/removeLast.svg" /><br/><%= t('restored_object.viewer.rem_last') %></button>
        </div>
        <div class="col-sm measure-column">
          <button onclick="resetMesures()" class="btn btn-primary measure-button"><img class="measure-image" src="/icons/removeAll.svg" /><br/><%= t('restored_object.viewer.rem_all') %></button>
        </div>
    </div>
    </div>
</div>
<section id="toolbar">
  <div class="toolbar-container">
    <i class="pointer fas fa-times right main" onclick="hideToolbar()"></i>
    <br/>
    <div class="toolbar-section">
        <p><%= t('restored_object.viewer.vis_mode') %></p>
        <div class="toolbar-section-row">
        <button onclick="allParts()" class="btn btn-primary toolbar-button"><img class="svg-icon" src="/icons/all.svg" /><br/><%= t('restored_object.viewer.all') %></button>
        <button onclick="goodParts()" class="btn btn-primary toolbar-button"><img class="svg-icon" src="/icons/pieces.svg" /><br/><%= t('restored_object.viewer.present') %></button>
        <button onclick="faltantParts()" class="btn btn-primary toolbar-button"><img class="svg-icon" src="/icons/missing.svg" /><br/><%= t('restored_object.viewer.missing') %></button>
        </div>
        <div class="toolbar-section-row">
            <button onclick="nearbyPieces()" class="btn btn-primary toolbar-button big"><img class="inline-icon" src="/icons/pic.svg" /> <%= t('restored_object.viewer.nearby_pieces') %></button>
        </div>
        <p><%= t('restored_object.viewer.model_rot') %></p>
        <div class="toolbar-section-row">
        <button id="pauseButton" onclick="changeRotationMode()" class="btn btn-primary toolbar-button big">
            <i class="fas fa-play"></i> Play
        </button>
        </div>
    </div>
    <div class="toolbar-section">
        <p><%= t('restored_object.viewer.perspective') %></p>
        <div class="toolbar-section-row">
        <button class="btn btn-primary toolbar-button" onclick="downCamera()"><img class="svg-icon" src="/icons/xz.svg" /><br/>XZ</button>
        <button class="btn btn-primary toolbar-button" onclick="upCamera()"><img class="svg-icon" src="/icons/xy.svg" /><br/>XY</button>
        <button class="btn btn-primary toolbar-button" onclick="leftCamera()"><img class="svg-icon" src="/icons/zy.svg" /><br/>ZY</button>
        </div>
    </div>
    <div class="toolbar-section">
        <p><%= t('restored_object.viewer.cut_obj') %></p>
        <div class="toolbar-section-row">
            <button onclick="setClip(0)" class="btn btn-primary toolbar-button clip-button">X</button>
            <input type="range" min="-10" max="10" step="0.1" value="0" class="slider" id="clipX">
        </div>
        <div class="toolbar-section-row">
            <button onclick="setClip(1)" class="btn btn-primary toolbar-button clip-button">Y</button>
            <input type="range" min="-10" max="10" step="0.1" value="0" class="slider" id="clipY">
        </div>
        <div class="toolbar-section-row">
            <button onclick="setClip(2)" class="btn btn-primary toolbar-button clip-button">Z</button>
            <input type="range" min="-10" max="10" step="0.1" value="0" class="slider" id="clipZ">
        </div>
    </div>
    <div class="toolbar-section">
        <p><%= t('restored_object.viewer.tools') %></p>
        <div class="toolbar-section-row extras">
            <button class="btn btn-primary toolbar-button" onclick="measures()"><img class="svg-icon" src="/icons/ruler.svg" /><br/><%= t('restored_object.viewer.measure') %></button>
            <button class="btn btn-primary toolbar-button" onclick="wireframeSet()"><img class="svg-icon" src="/icons/wireframe.svg" /><br/><%= t('restored_object.viewer.wireframe') %></button>
            <button class="btn btn-primary toolbar-button" onclick="addTorch()"><img class="svg-icon" src="/icons/light.svg" /><br/><%= t('restored_object.viewer.light') %></button>
        </div>
        <div class="toolbar-section-row">
            <button onclick="saveAsImage()" class="btn btn-primary toolbar-button big"><img class="inline-icon" src="/icons/pic.svg" /> <%= t('restored_object.viewer.save_img') %></button>
        </div>
        </div>
    </div>
    <div class="branding">
      <h1 class="brand-title">2018 - FragmentX</h1>
    </div>
  </div>
</section>
<div id="editor"></div>

  <script type="text/javascript" src="/js/three.min.js"></script>
  <script type="text/javascript" src="/js/OrbitControls.js"></script>
  <script type="text/javascript" src="/js/viewer.js"></script>
