<header class="container home-header centred-objects">
  <h1><img src="/logo.svg" alt="FragmentX"></h1>
  <h2>Visualizador 3D de muestras de museos recompuestas</h2>
</header>
<div class="container">
  <div class="centred-objects">
    <div class="index-up-w">
        <div class="card-group">
          <% if @first_half != nil %>
              <% @first_half.each do |category| %>
              <div class="card card-custom-style">
                <div class="card-body text-center ">
                 <h8 class="card-title text-white">
                  <%= link_to category, class:'text-white no-underline' do %>
                    <%= category.name %>
                  <% end %>
                </h8>
                </div>
              </div>
              <% end %>
          <% end %>
        </div>
    </div>
    </br>
    <div class="index-up-w">
        <div class="card-group">
          <% if @first_half != nil %>
              <% @second_half.each do |category| %>
              <div class="card card-custom-style">
                <div class="card-body text-center ">
                 <%= link_to category, class:'text-white no-underline' do %>
                    <%= category.name %>
                  <% end %>
                </div>
              </div>
              <% end %>
          <% end %>
        </div>
    </div>
    </br>
    </br>
    </br>
    <% if @first_sixs_elements != nil %>
        <% @first_sixs_elements.each do |restored_object| %>
          <div class="card d-inline-block" style="width: 18rem;">
            <img class="card-img-top" <%= image_tag(@random_outstanding_object.avatar.url(:thumb)) %>
            <div class="card-body">
              <h5 class="card-title"> <%= restored_object.title %> </h5>
              <p class="card-text"> <%= restored_object.description.truncate(30)  %> </p>
              <%= link_to restored_object, class:'btn color_buttons_editor text-white' do %>
                Go somewhere
              <% end %>
            </div>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
<section class="beauty">
  <div class="float-right beurty-prop">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" <%= image_tag(@random_outstanding_object.avatar.url(:thumb)) %>
      <div class="card-body">
        <%= @random_outstanding_object.title %>
        <%= link_to @random_outstanding_object, class:'btn color_buttons_editor text-white' do %>
            Go somewhere
        <% end %>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="centred-objects">
    <% if @second_three_elements != nil %>
        <% @second_three_elements.each do |restored_object| %>
          <div class="card d-inline-block" style="width: 18rem;">
            <img class="card-img-top" <%= image_tag(@random_outstanding_object.avatar.url(:thumb)) %>
            <div class="card-body">
              <h5 class="card-title"> <%= restored_object.title %> </h5>
              <p class="card-text"> <%= restored_object.description.truncate(30)  %> </p>
              <%= link_to restored_object, class:'btn color_buttons_editor text-white' do %>
                Go somewhere
              <% end %>
            </div>
          </div>
        <% end %>
    <% end %>
  </div>
</div>

