<!DOCTYPE html>
<html>
  <head>
    <title>ScanViewer</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>

  <body>
    <div id="loader" class="loader"></div>
    <div id="overlay"></div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Project</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to t('nav_bar.home') , root_path, class:'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to t('nav_bar.restored_objects') , restored_objects_path, class:'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to t('nav_bar.sing_in'), new_user_session_path, class:'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to t('nav_bar.sing_up'), new_user_registration_path, class:'nav-link' %>
          </li>
      </div>
    </nav>
    <br/>
    <div class="">
      <%= yield %>
    </div>
  </body>
</html>
