<!DOCTYPE html>
<html>
  <head>
    <title>FragmentX</title>
    <%= csrf_meta_tags %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>

  <body>
    <div id="loader" class="loader"><img src="/loading.svg"/> <%= t('restored_object.viewer.loading_text') %></div>
    <%= yield %>
  </body>
</html>
