<!DOCTYPE html>
<html>
  <head>
    <title>ScanViewer</title>
    <%= csrf_meta_tags %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <div id="loader" class="loader visible"></div>
    <div id="overlay-threejs"></div>
    <%= yield %>
  </body>
</html>
